.technologies-bg-con {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.technologies-heading {
  text-align: center;
  color: rgb(16, 11, 5);
}

.technologies-description {
  text-align: center;
  font-size: 16px;
  max-width: 700px;
  color: cadetblue;
}

.technologies-card-con {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-self: center;
  max-width: 500px;
}